# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv/
env/
venv/
ENV/
env.bak/
*.env
*.egg-info/

# VSCode / PyCharm
.vscode/
.idea/


# Jupyter
.ipynb_checkpoints/

# MacOS
.DS_Store

# Output
*.log
*.h5
*.mat
*.mp4